body {
    margin: 25px;
    border: 0px;
    padding: 0px;
    background-color: white;
    color: #ffffff;
    font-family: signika-bold;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
}

.top {
    color: skyblue;
}

.top img {
    display: inline-block;
    border-radius: 25px;
}

.topRight ul {
    text-align: left;
    color: skyblue;
}

ul {
    margin: 0px;
}

.topRight {
    display: inline-block;
}

.links {
    text-align: right;
    border-bottom: 1px solid;
    border-bottom: black;
    margin: 0px;
    padding-top: 1px;
    color: greenyellow
}

@font-face {
    font-family: signika-bold;
    src: url("fonts/Signika-Bold.ttf");
}
@font-face {
    font-family: signika;
    src: url("fonts/Signika-Regular.ttf");
}

/*
 .name = class selector
 #name = ID selector
 
 Group selectors with commas -> .name, #name
 
*/