body {
    margin: auto;
    background-color: lightblue;
    color: #ffffff;
    font-family: signika-bold;
    font-size: 30px;
    line-height: 1.5;
    max-width: 80%;
    float: center;
    margin-right: 24px;
}

.links {
    color:greenyellow;
}

@font-face {
    font-family: signika-bold;
    src: url("fonts/Signika-Bold.ttf");
}
@font-face {
    font-family: signika;
    src: url("fonts/Signika-Regular.ttf");
}