body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: signika;
    font-size: 16px;
    height: 100%;
    width: 100%
}

footer {
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 36px;
}
footer p {
    margin: 0px;
}

@font-face {
    font-family: signika;
    src: url("../../fonts/Signika-Regular.ttf");
}