main {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 720px;
    width: 99%;
}  

main ul {
    list-style-type: none;
    margin: 0px;
    width: 350px;
    padding-left: 80px;
    padding-right: 80px;
}

main ul li p {
    margin: 0px;
    padding-bottom: 16px;
}

main ul li a {
    text-decoration: none;
    color: #639dfb;
}

@media only screen and (max-width: 600px) {
    main {
        display: inline-block;
        justify-content: center;
        height: 820px;
        width: 412px;
    }
    main ul {
        list-style-type: none;
        margin: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}