main {
    display: flex;
    justify-content: center;
}  

main object {
    width: 800px;
    height: 798px;
}

@media only screen and (max-width: 600px) {
    main {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 230px;
    }
    main object {
        width: 360px;
        height: 500px;
    }
}